<h1> <%= @list.name %></h1>

<p><strong>Bookmarks</strong></p>
<div class="mb-3">
  <% @list.bookmarks.each do |bookmark| %>
    <p class="list-group-item"><%= bookmark.movie.title %></p>
    <p class="list-group-item"><%= bookmark.comment %></p>
    <p class="list-group-item"><%= bookmark.movie.rating %></p>
    <p class="list-group-item"><%= bookmark.movie.overview %></p>
    <%= image_tag bookmark.movie.poster_url, width:200 %>
      <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <% end %>
</div>
<br>


<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>

<%= link_to "Back to All lists", lists_path %>
